@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");


/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    z-index: 2;
    margin-bottom: 100px;
}

.title {
    color: white;
    font-size: xxx-large;
    padding: 25px;
    background-color: #111;
    text-align: center;
}


/----------Navigation----------/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", serif;
}

.navbar {
    overflow: hidden;
    font-family: Arial, serif;
    margin-right: 100px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 2em;
}



.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    left: 100%;
    margin-left: -195px;
}



.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html {
        font-family: "Montserrat", serif;
    }

    header {
        margin-bottom: 0;
    }

    .navbar2 {
        width: 100%;
        overflow: hidden;
        font-family: Arial, serif;
        margin-right: 100px;
    }


    .navbar2 a {
        float: none;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }


    .dropdown2 {
        width: 100%;
        float: left;
        overflow: hidden;
    }



    .navbar2 a:hover, .dropdown2:hover .dropdown .dropbtn {
        background-color: #333;
    }


    .dropdown-content2 {
        display: none;
        position: relative;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index: 1;
    }


    .dropdown-content2 a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }


    .dropdown-content2 a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }
}


/----------Karten----------/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", serif;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
    color: #666;
}

.card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    flex-grow: 1;
}

.card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}

/----------Bilderkarussell----------/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", serif;
}

.slider-wrapper {
    position: relative;
    max-width: 65%;
    margin: 0 auto;
    padding: 100px;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

/* Entfernung des Karoussels bei kleinere Bildschirm */
@media  only screen and (max-width: 1266px) {
    .slider-wrapper {
        display: none;
    }
}


/----------Timeline----------/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", serif;
}
/* Historische Zeitachse */

/* Timeline Container */
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #111;
}
.timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul {
    list-style: none;
}
.timeline ul li {
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child {
    margin-bottom: 0;
}
.timeline-content h1 {
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px;
}
.timeline-content p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.timeline-content .date {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 2px;
}


/* Timeline Elemente untereinander bei kleinerer Bildschirm */
@media only screen and (min-width: 768px) {
    .timeline:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 100%;
        background-color: rgb(128, 128, 128);
    }
    .timeline ul li {
        width: 50%;
        position: relative;
        margin-bottom: 50px;
    }
    .timeline ul li:nth-child(odd) {
        float: left;
        clear: right;
        transform: translateX(-30px);
        border-radius: 20px 0 20px 20px;
    }
    .timeline ul li:nth-child(even) {
        float: right;
        clear: left;
        transform: translateX(30px);
        border-radius: 0 20px 20px 20px;
    }
    .timeline ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: rgb(128, 128, 128);
        top: 0;
    }
    .timeline ul li:nth-child(odd)::before {
        transform: translate(50%, -50%);
        right: -30px;
    }
    .timeline ul li:nth-child(even)::before {
        transform: translate(-50%, -50%);
        left: -30px;
    }
    .timeline-content .date {
        position: absolute;
        top: -30px;
    }
    .timeline ul li:hover::before {
        background-color: aqua;
    }
}


/----------About----------/

#about{
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    display: block;
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
    max-width: 1000px;
    color: #b2a5a5;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #081623;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color:     #081623;
    font-size: 14px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/----------Programmiersprachen----------/

#languages{
    padding: 30px 0;
    margin-top: 30px;
}
.language-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.language-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.language-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.language-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.language-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.language-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

.about_container {
    padding: 20px 10%;
}


/----------Gründe----------/

#scandal{
    padding: 50px 0;
}
.scandal-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.scandals{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.scandals img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.scandals:hover img{
    transform: scale(1.1);
}

.scandals:hover .layer{
    height: 100%;
    color: white;
}

.scandal_container{
    padding: 10px 10%;
}

.gründe_intro {
    color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gründe_intro p {
    max-width: 65%;
    font-weight: bold;
}

.scandal_container .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.scandal_container .btn:hover{
    background: #ff004f;
}


/----------Footer----------/
.footer_container{
    max-width: 1170px;
    margin:auto;
    bottom: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}

/----------Impressum----------/
*{
    margin: 0;
    margin-bottom: auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", serif;
}

.impressum_container {
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impressum {
    color: white;
    background-color: black;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}


.impressum h2,
.impressum p {
    margin: 0;
}

/----------Disclaimer----------/

#disclaimer {
    background-color: white;
}

.disclaimer_container {
    color: black;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto 150px;
}

/----------Datenschutz----------/

#datenschutz {
    background-color: white;
}

.datenschutz_container {
    color: black;
    max-width: 960px;
    padding: 20px;
    margin: 0 auto 150px;
}

.datenschutz_container li {
    list-style-type: disc;
}

/----------Zukunft----------/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #081623;
    color: #fff;
}
h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
}
.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}
.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}
.accordion-item-header.active::after {
    content: "\2212";
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}
@media(max-width:767px) {
    html {
        font-size: 14px;
    }
}